.dashboard {
    display: flex;
    gap: 0;
    overflow: hidden;
}

.dashboard-menu {
    width: 20%;
    border-right: 1px solid #2c2e34;
    height: 100%;
    background-color: #0f1426 !important;
}

.dashboard-content {
    width: 80%;
    background-color: #0a0f1e;
    height: 100%;
}

.school-logo {
    height: 10%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #2c2e34;

    img {
        width: 50%;
        /* margin-top: 10px; */
    }
}

.selection-menu {
    box-sizing: border-box;
    overflow-y: auto;
    height: 100%;
    padding-bottom: 100px;

    scrollbar-width: thin;
    scrollbar-color: #22283e96 #0f1426;


    &::-webkit-scrollbar {
        width: 5px;

    }

    &::-webkit-scrollbar-track {
        background: #0f14265b;
    }

    &::-webkit-scrollbar-thumb {
        background: #0f142673;
        border-radius: 4px;
    }
}

.menu-part {
    padding: 20px 20px;
    padding-bottom: 0;
}




.menu-item {
    color: #94a3b8b9;
    padding: 5px;
    font-size: small;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;

    i {
        font-weight: 300;
    }

    &:hover {
        background: linear-gradient(90deg, rgba(124, 58, 237, 0.15), rgba(6, 182, 212, 0.05));
        color: white !important;

        i {
            color: white !important;
        }

    }
}

.navbar {
    height: 10%;
    width: 100%;
    background-color: #0f1426;
    border-bottom: 1px solid #2c2e34;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;


    .hamburger-icon,
    .notification-icon {
        padding: 4px 8px;
        border: 1px solid #232f57;
        color: #94a3b88b;
        border-radius: 5px;
        transition: 200ms ease-in all;
        cursor: pointer;

        &:hover {
            background-color: #39393936;
            color: white;
        }
    }

    .search-box {
        color: #94a3b88b;
        width: 40%;
        display: flex;
        align-items: center;
        transition: 300ms ease-in all;

        input {
            width: 100%;
            height: 27px;
            border: 1px solid #232f57;
            border-radius: 5px;
            padding-inline: 30px;
            padding-bottom: 3px;
            display: flex;
            font-size: 12px;
            cursor: pointer;
        }

        i {
            position: relative;
            left: 6%;
            font-size: small;
        }

        input[type="text"]::placeholder {
            font-size: 12px;
            opacity: 1;

        }

        input[type="text"]:focus {
            box-shadow: 0px 0px 20px rgb(54, 51, 121);
            border: 2px solid #0d132a;
            opacity: 1;
            outline: none;
            transition: 200ms ease-in all;

        }

    }

    .admin {
        display: flex;
        color: white;
        align-items: center;
        gap: 7px;
        padding: 5px 10px;
        border: 1px solid #232f57;
        border-radius: 8px;
        cursor: pointer;

        i {
            color: #2c3f89;
        }

    }
}

.active-option {
    background: linear-gradient(90deg, rgba(124, 58, 237, 0.242), rgba(6, 181, 212, 0.242));
    color: #fcfcfdb9;
    padding: 5px;
    font-size: small;
    font-weight: 600;
    display: flex;
    align-items: center;
    border-radius: 10px;
    transition: 500ms all;
    overflow: hidden;
    gap: 3px;

    i {
        font-weight: 300;
        color: #7c3aed !important;
        background-color: #7c3aed29;
        padding: 4px;
        border-radius: 5px;
    }


}

.active-option::before {
    content: '';
    background: linear-gradient(135deg, #7c3aed, #06b6d4);
    width: 4px;
    height: 20px;
    border-radius: 20px;
    position: relative;

    transition: 500ms all;
    margin: 0;
    left: -7px;
    animation: scale 300ms ease 0s forwards;
}

@keyframes scale {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1.5);
    }

}

.main-content {
    padding: 40px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #22283e96 #0f1426;
    height: 100%;

    &::-webkit-scrollbar {
        width: 5px;

    }

    &::-webkit-scrollbar-track {
        background: #0f14265b;
    }

    &::-webkit-scrollbar-thumb {
        background: #0f142673;
        border-radius: 4px;
    }


}

.heading {
    h1 {
        color: whitesmoke;
        font-weight: bold;
    }

    p {
        color: #94a3b88b;
        font-size: small;
    }
}

.primary-btn {
    background: linear-gradient(135deg, #6d28d9, #0891b2);
    color: white;
    padding: 8px 20px;
    border-radius: 10px;
    font-size: small;
    font-weight: bold;
    transition: 300ms all;

    &:hover {
        background: linear-gradient(135deg, #753dce, #12b1d9);
        box-shadow: 0px 0px 10px #06b5d496;

    }
}

.class-list {
    width: 100%;
    margin-top: 60px;
    border: 1px solid #25315c;
    border-radius: 10px;
     
    table {
         width: 100%;
    }

    .class-card-head,
    .class-card {
        color: white;
        font-size: small;
        height: 40px;
        
    }





    .class-card-head {
        background-color: #03050a50 !important;
        color: #94a3b88b;
        
    }

    .class-card {
        background-color: #12182d;
       
    }


    td,
    th {
        text-align: center;
        
        
    }

    

    .sec-btn {
        padding: 4px 8px ;
        border: 1px solid #94a3b88b;
        border-radius: 5px;
        margin-right: 7px;
        color:#94a3b88b ;

        &:hover {
            background-color: #0d132a;
            color: white;
        }
    }
}

 .sec-btn {
        padding: 8px 12px ;
        border: 1px solid #94a3b88b;
        border-radius: 5px;
        margin-right: 7px;
        color:#94a3b88b ;

        &:hover {
            background-color: #0d132a;
            color: white;
        }
    }

    